body {
    overflow: hidden;
    margin: 0;
    background-color: #e0e0e0;
    font-family: 'Arial', sans-serif;
}

.sidebar {
    position: fixed;
    right: 0;
    top: 0;
    width: 250px;
    height: 100%;
    background: transparent;
    transition: transform 0.3s ease;
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}

.sidebar.open {
    transform: translateX(0);
}

button {
    display: block;
    background: #4CAF50;
    border: none;
    border-radius: 1em;
    text-align: center;
    font-family: sans-serif;
    font-size: 0.8rem;
    padding: 10px 20px;
    color: white;
    transition: background 0.3s ease;
    margin-bottom: 10px;
}

button:hover {
    cursor: pointer;
    background: #45a049;
}

.toggle-sidebar {
    position: fixed;
    top: 20px;
    right: 20px;
    background: transparent;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background 0.3s ease;
    box-shadow: none;
}

.toggle-sidebar:hover {
    background: rgba(255, 255, 255, 0.1);
}

.Happyness {
    position: fixed;
    width: 300px;
    height: 30px;
    left: 70px;
    top: 50px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 100px;
    transform-origin: 0 100%;
    transform: rotate(90deg);
    overflow: hidden;
    border: 2px solid black;
}

.Happyness::-webkit-progress-bar {
    height: 30px;
    background-color: #000;
    border-radius: 100px;
    overflow: hidden;
}

.Happyness::-webkit-progress-value {
    height: 100%;
    background: linear-gradient(to right, black, #ff9e2c);
    border-radius: 100px;
    transition: width 0.5s ease-in-out;
}
